/* responsive */

@media screen and (max-width: 991px) {
    .container {
        width: 90%;
    }

    .nav-wrapper .menu-wrapper .menu {
        gap: 20px;
    }

    .navbar .nav-wrapper {
        width: 100%;
        padding: 50px;
    }

    .nav-wrapper img {
        width: 30px;
        height: 30px;
    }

    .portofolio {
        min-height: 1024px;
    }
}


@media screen and (max-width: 768px) {
    header {
        width: 100%;
    }

    .container {
        width: 100%;
        padding: 50px;
    }

    nav .nav-items {
        position: absolute;
        top: -100%;
        height: 30vh;
        flex-direction: column;
        background-color: var(--main-color);
        padding: 3% 5% 5% 0;
        border-radius: 5px;
        z-index: 1;
        transform: translateY(-5px);
        opacity: 0;
        z-index: -1;
        text-align: center;
    }

    .btn-dark {
        margin-right: 20px;
        font-size: 20px;
    }

    nav .active {
        top: 80px;
        display: flex;
        transform: translateX(-50px);
        opacity: 1;
        z-index: 1;
        width: 100%;
    }

    .nav-items li a:hover {
        color: inherit;
    }

    .menu-toogle {
        display: flex;
    }

    /* about start*/
    .content-about .text-caption {
        font-size: 20px;
    }

    .content-about .text {
        font-size: 20px;
        line-height: 25px;

    }

    /* about end */
    .skills-wrapper .skills-logo {
        place-content: center;
    }

    .portofolio {
        height: 100vh;
    }

    .box .content h3 {
        font-size: 14px;
    }

    footer .footer-wrapper {
        display: flex;
        place-content: center;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .footer-wrapper .social-media {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 645px) {
    .container {
        width: 100%;
    }

    nav .active {
        width: 100%;
        height: 50vh;
        padding-top: 30px;
    }

    .home .home-wrapper {
        display: flex;
        flex-direction: column-reverse;
        place-content: center;
        height: 100%;
    }

    .home-wrapper .heading {
        font-size: 20px;
    }

    .home-wrapper .sub-heading {
        font-size: 25px;
        line-height: 20px;
    }

    .home-wrapper p {
        font-size: 18px;
    }

    .about-wrapper h1 {
        font-size: 45px;
    }

    .about-wrapper .line {
        width: 250px;
    }

    .about-wrapper .content p {
        font-size: 18px;
        text-align: justify;
    }

    .skills-wrapper h1 {
        font-size: 45px;
    }

    .skills-wrapper .line {
        width: 250px;
    }

    .logo img {
        width: 60px;
        height: 60px;
    }

    .icon img {
        width: 35px;
        height: 35px;
    }

    .portofolio {
        height: 1024px;
    }

    .portofolio-wrapper h1 {
        font-size: 45px;
    }

    .portofolio-wrapper .line {
        width: 250px;
    }

    .portof .content {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .contact .contact-wrapper {
        height: 950px;
    }

    .contact-wrapper h1 {
        font-size: 45px;
    }

    .contact-wrapper .line {
        width: 250px;
    }

    .contact-wrapper .box {
        flex-direction: column;
    }

    .box .contact-container {
        margin-top: 50px;
    }

    .contact-container form {
        width: 100%;
    }

    .contact-container form .input-group label {
        display: none;
    }

    .box .content-container h3 {
        font-size: 16px;
    }

    .input-group input,
    .input-group textarea {
        flex-basis: 100%;
    }

    footer .footer-wrapper {
        flex-direction: column;
        justify-content: space-around;
    }

    .menu-footer .menu {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .footer-wrapper .social-media {
        display: flex;
        flex-direction: row;
    }

}

@media screen and (max-width: 450px) {
    .container {
        width: 100%;
    }

    .portofolio {
        height: 70rem;
    }

    .about-wrapper .content p {
        margin-top: 30px;
    }


}